USE [QLDSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DSSV]    Script Date: 8/5/2018 11:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DSSV]
@makh char(4),@malop char(8)
AS
IF EXISTS (SELECT MAKH FROM KHOA WHERE MAKH = @makh)
	BEGIN
		SELECT MASV,HO,TEN,PHAI,NGAYSINH,NOISINH,DIACHI FROM SINHVIEN WHERE MALOP=@malop AND NGHIHOC = 0
	END
ELSE
	BEGIN
		SELECT MASV,HO,TEN,PHAI,NGAYSINH,NOISINH,DIACHI FROM LINK0.QLDSV.DBO.SINHVIEN WHERE MALOP=@malop AND NGHIHOC = 0
	END
