USE [QLDSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_PHIEUDIEM]    Script Date: 8/5/2018 11:12:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_PHIEUDIEM]
@masv char(8)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM SINHVIEN WHERE SINHVIEN.MASV = @masv)
	BEGIN
		SELECT TENMH, DIEM 
		FROM (SELECT MAMH, MAX(DIEM) AS DIEM FROM DIEM WHERE MASV=@masv GROUP BY MAMH) DIEMSV,
		      MONHOC 
		WHERE DIEMSV.MAMH=MONHOC.MAMH
		
	END
	ELSE
	BEGIN
		SELECT TENMH, DIEM 
		FROM (SELECT MAMH, MAX(DIEM) AS DIEM FROM LINK0.QLDSV.DBO.DIEM WHERE MASV=@masv GROUP BY MAMH) DIEMSV,
		      MONHOC 
		WHERE DIEMSV.MAMH=MONHOC.MAMH
	END
END