<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=NTANDUNG;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.QLDSVConnectionString1"
            connectionString="Data Source=NTANDUNG\MSSQLSERVER1;Initial Catalog=QLDSV;Persist Security Info=True;User ID=SUPPORT_CONNECT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>